-# code: 'UTF-8'

%body
  %div
    %h1= @game.name
    %div
      %h2= 'Game Queue: '
      %a{href: "/game_queues/#{@current_queue_id}"} #{@current_queue_name}
      %form{action: "/games/#{@game.id}/change_queue", method: "post"}
        %select{name: 'game_queue_id', label: " "}
          - @gameQueues.each do |g|
            %option{value: "#{g.id}"} #{g.name}
        %input{type: 'submit', value: 'Change Game Queue'}
    %div
      %h2= 'Game consoles:'
      - @game.game_consoles.each do |g|
        %div
          %a{href: "/game_consoles/#{g.id}"} #{g.name}
          %form{action: "/games/#{@game.id}/change_console", method: "post"}
            %input{type: 'hidden', name: 'game_console_id', value: "#{g.id}"}
            %input{type: 'hidden', name: '_method', value: 'delete'}
            %input{type: 'submit', value: 'Remove Console'}
      %form{action: "/games/#{@game.id}/change_console", method: "post"}
        %select{name: 'game_console_id', label: " "}
          %option{value: "no_console", disabled: "disabled", selected: "selected"} Select Game Console
          - @gameConsoles.each do |g|
            %option{value: "#{g.id}"} #{g.name}
        %input{type: 'submit', value: 'Add Game Console'}
    %div
      %h2= 'Game genres:'
      - @game.game_genres.each do |g|
        %div
          %a{href: "/game_genres/#{g.id}"} #{g.name}
          %form{action: "/games/#{@game.id}/change_genre", method: "post"}
            %input{type: 'hidden', name: 'game_genre_id', value: "#{g.id}"}
            %input{type: 'hidden', name: '_method', value: 'delete'}
            %input{type: 'submit', value: 'Remove Genre'}
      %form{action: "/games/#{@game.id}/change_genre", method: "post"}
        %select{name: 'game_genre_id', label: " "}
          %option{value: "no_genre", disabled: "disabled", selected: "selected"} Select Game Genre
          - @gameGenres.each do |g|
            %option{value: "#{g.id}"} #{g.name}
        %input{type: 'submit', value: 'Add Game Genre'}
    %div
      %h2= 'Current Votes: ' + @current_votes unless @current_votes.empty?
      %form{action: "/games/#{@game.id}/change_vote", method: "post"}
        %label{for: "current_votes"} Update Vote Total:
        %input{type: "number", name: "current_votes", min: "0"}
        %input{type: 'submit', value: 'Update'}
      %form{action: "/games/#{@game.id}", method: "post"}
        %input{type: 'hidden', name: '_method', value: 'delete'}
        %input{type: 'submit', value: 'Delete Game'}
  %a{href: "/games/"} Back to Game Index
  %div
    %a{href: "/"} Back to Main Page
