-# code: 'UTF-8'

%body
  %div
    %h1= @gameQueue.name
    %h2 Games in this queue
    %ul
    - @games.each do |g|
      %li
        %a{href: "/games/#{g.id}"} #{g.name}
        %form{action: "/game_queues/#{@gameQueue.id}/change_game", method: "post"}
          %input{type: 'hidden', name: 'game_id', value: "#{g.id}"}
          %input{type: 'hidden', name: '_method', value: 'delete'}
          %input{type: 'submit', value: 'Remove Game'}
  %a{href: "/game_queues/"} Back to Game Queue Index
  %div
    %a{href: "/"} Back to Main Page
