-# code: 'UTF-8'

%body
  %div
    %h1= @game.name
    %h2= 'Game consoles:'
    - @game.game_consoles.each do |g|
      %div
        %a{href: "/game_consoles/#{g.id}"} #{g.name}
        %form{action: "/games/#{@game.id}/change_console", method: "post"}
          %input{type: 'hidden', name: 'game_console_id', value: "#{g.id}"}
          %input{type: 'hidden', name: '_method', value: 'delete'}
          %input{type: 'submit', value: 'Remove Console'}
    %form{action: "/games/#{@game.id}/change_console", method: "post"}
      %select{name: 'game_console_id', label: " "}
        %option{value: "no_console", disabled: "disabled", selected: "selected"} Select Game Console
        - @gameConsoles.each do |g|
          %option{value: "#{g.id}"} #{g.name}
      %input{type: 'submit', value: 'Add Game Console'}
    %form{action: "/games/#{@game.id}", method: "post"}
      %input{type: 'hidden', name: '_method', value: 'delete'}
      %input{type: 'submit', value: 'Delete Game'}
  %a{href: "/games/"} Back to Game Index
  %div
    %a{href: "/"} Back to Main Page
